DATABASE_URL="postgresql://drwelnes:drwelnes@localhost:5432/drwelnes?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="changeme"
ADMIN_EMAIL="admin@drwelnes.local"
ADMIN_PASSWORD="changeme"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# AI Integration
GEMINI_API_KEY="your_api_key_here"

# Telegram Bot Integration
TELEGRAM_BOT_TOKEN=8018513524:AAG2FXlIerl5IlHnUDf7Z77Ql9ck2yUGwJs
TELEGRAM_CHAT_ID=6361029976

