services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: drwelnes
      POSTGRES_PASSWORD: drwelnes
      POSTGRES_DB: drwelnes
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
