# Copy this file to .env.production on the server (do NOT commit .env.production)

# Postgres (local container)
POSTGRES_USER=drwelnes
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=drwelnes

# Prisma/NextAuth
DATABASE_URL=postgresql://drwelnes:CHANGE_ME_STRONG_PASSWORD@db:5432/drwelnes?schema=public
NEXTAUTH_URL=https://drwelnes.ru
NEXTAUTH_SECRET=CHANGE_ME_LONG_RANDOM_SECRET

# Optional
# NODE_ENV=production
